* {
	box-sizing: border-box;
}


body {
	font-size: 18px;
	line-height: 34px;
	font-family: Arial, Helvetica, sans-serif;
	background-image: url('../images/what-the-hex.png');
	color: #777;
}
.container {
	width: 100%;
	max-width: 960px;
	margin: 0 auto;
	clear: both;
}
/*-----------  HEADER  -------------*/
.header_background {
	background-color: #ffffff;
}

.header_wrapper {
	background: #ffffff;
	margin: 0 0 30px;
	z-index: 99;
	color: #fff;
	overflow: auto;
	border-bottom: 2px solid #ccc;
	position: fixed;
	width: 100%;
}

.header_logo {
	font-family: 'Georgia', Times, Times New Roman, serif;
	font-size: 15px;
	font-weight: 700;
	text-decoration: none;
	color: #fff;
	background-color: #4aaaa5;
	text-align: center;
	line-height: 90px;
	width: 250px;
	height: 90px;
	padding: 20px;
	margin: 0 0 0 30px;
	float: left;
}

.header_nav {
	background-color: #ffffff;
	font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
	height: 36px;
	padding: 30px 125px 10px 0;
	text-align: right;
}

.header_border {
	clear: both;
	border-top: 1px solid #dddddd;
	width: 100%;
}

a {
	text-decoration: none;
 }

a:link, a:visited, a:hover{
	color: grey; 
}
/*----------   ABOUT   ----------*/
.about_wrapper {
	width: 960px;
}

.about_page {
	background-color: #ffffff;
	width: 650px;
	border: 1px solid #dddddd;
	margin: 30px 0 0 0;
	float: left;
}

.about_title {
	font-family: 'Georgia', Times, Times New Roman, serif;
	color:  #4aaaa5;
	font-size: 30px;
	margin: 10px;
	padding: 20px;
	border-bottom: 2px solid #dddddd;
	}

.about_img {
	width: 250px;
	float: left;
	margin: 20px 20px 20px 20px;
}

.about_text {
	color: #777777;
	font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;;
	line-height: 200%;
	margin: 15px;
}
/*-------------  PORTFOLIO  -------------*/
.portfolio_wrapper {
	width: 960px;
}

.portfolio_content {
	background-color: #ffffff;
	width: 650px;
	height: 825px;
	border: 1px solid #dddddd;
	margin: 30px 0 0 0;
	float: left;
}

.portfolio_title {
	color:#4aaaa5;
	font-family: 'Georgia', Times, Times New Roman, serif;
	font-size: 30px;
	text-align: left;
	padding: 10px;
	border-bottom: 2px solid  #dddddd;
	margin: 20px 20px 40px 20px;
}

.portfolio_one {
	width: 250px;
	float: left;
	margin-left: 40px;
}

.portfolio_two {
	width: 250px;
	float: right;
	margin-right: 40px;
}

.portfolio_three {
	width: 250px;
	float: left;
	margin-left: 40px;
}

.portfolio_four {
	width: 250px;
	float: right;
	margin-right: 40px;
}

.portfolio_five {
	width: 250px;
	float: left;
	margin-left: 40px;
}

.portfolio_project {
	background-color: #4aaaa5;
	color: #ffffff;
	position: relative;
	top: -70px;
	padding: 15px;
	text-align: center;
}
/*--------------  CONTACT  --------------*/
.contact_wrapper {
	width: 960px;
}

.contact_form {
	background-color: #ffffff;
	width: 650px;
	height: 570px;
	border: 1px solid #dddddd;
	margin: 30px 0 0 0;
	float: left;
}

.contact_title {
	color: #4aaaa5;
	border-bottom: 2px solid #dddddd;
	margin: 15px;
	padding: 10px;
}

.contact_message {
	font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
	font-size: 20px;
	display: block;
	padding-bottom: 190px;
	width:610px;
}

textarea {
	border:1px solid #dddddd;
}

form {
	margin: 20px;
	font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
	color: #777777;
	line-height: 35px;
	font-size: 18px;
}

input {
	font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
	font-size: 20px;
	width: 610px;
	height: 30px;
	line-height: 20px;
	border:1px solid #dddddd;
}

input[type=button], input[type=submit], input[type=reset] {
    width: 20%;
    height: 50%;
    background-color: #4aaaa5;
    border: none;
    color: white;
    padding: 10px;
    margin-top: 15px;
    text-decoration: none;
    cursor: pointer;
}
/*-------------  CONNECT  ---------------*/
.connect {
	background-color: #ffffff;
	width: 270px;
	height: 175px;
	border: 1px solid #dddddd;
	margin-top: 30px;
	float: right;
}

.connect_title {
	color: #4aaaa5;
	text-align: center;
	border-bottom: 1px solid #dddddd;
	padding-bottom: 15px;
	margin: 10px;
}

.connect_links {
	margin: 25px 0 20px 35px;
}

.connect_link3 {
	position: relative;
	bottom: 3px;
	margin-left: 2.5px;
}
/*------------ COPYRIGHT -------------*/
.copyright {
	clear: both;
	color: #ffffff;
	font-weight: 100;
	font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
	font-size: 12px;
	text-align: center;
	background-color: #666666;
	width: 100%;
	margin: 0;
	padding: 30px 15px 30px 15px;
	border-top: 5px solid #4aaaa5;
	position: absolute;
	bottom:0;
	left:0;
	right:0;
	height:30px;
}

.portfolio_copyright {
	clear: both;
	color: #ffffff;
	font-weight: 100;
	font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
	font-size: 12px;
	text-align: center;
	background-color: #666666;
	width: 100%;
	margin: 0;
	padding: 30px 15px 30px 15px;
	border-top: 5px solid #4aaaa5;
	position: relative;
	top: 30px;
	bottom:0;
	left:0;
	right:0;
	height:30px;
}